:where(:root) {
  --Brand-Red: #a31f34;
  --Brand-Blue: #03152d;

  --pf-v5-global--link--Color: var(--Brand-Red);

  --pf-v5-global--link--TextDecoration: underline;
}

.pf-v5-c-alert {
  border-radius: 3px;
  border: 0;
  background: #ffe8e9;
  color: #750014;
}

.pf-v5-c-login {
  --pf-v5-c-login__main-body--PaddingBottom: 0;
}

.pf-v5-c-form {
  --pf-v5-c-form--GridGap: 0.3rem;
}

.pf-v5-c-login__main-footer {
  padding-inline-end: var(--pf-v5-c-login__main-body--PaddingRight);
  padding-inline-start: var(--pf-v5-c-login__main-body--PaddingLeft);
}

.pf-v5-c-form-control {
  border-radius: 4px;
  border: 1px solid #d5dae1;
  background: var(--White, #fff);
}

.pf-v5-c-form-control::after {
  border-block-end: none;
}

.pf-v5-c-button {
  --pf-v5-c-button--m-primary--Color: #ffffff;
  --pf-v5-c-button--m-primary--BackgroundColor: var(--Brand-Blue);

  --pf-v5-c-button--m-secondary--Color: #03152d;
  --pf-v5-c-button--m-secondary--after--BorderColor: #d5dae1;

  --pf-v5-c-button--m-secondary--focus--Color: var(--Brand-Blue);
  --pf-v5-c-button--m-secondary--focus--after--BorderColor: var(--Brand-Blue);

  --pf-v5-c-button--m-secondary--hover--Color: var(--Brand-Blue);
  --pf-v5-c-button--m-secondary--hover--after--BorderColor: var(--Brand-Blue);
}

.pf-v5-c-button:hover {
  cursor: pointer;
}

a.pf-v5-c-button,
a.pf-v5-c-button:hover,
a.pf-v5-c-button:active,
a.pf-v5-c-button:focus,
a.pf-v5-c-button:visited {
  text-decoration: none;
  text-decoration-line: none;
}

.login-pf {
  background: #ffffff;
  font-family: Inter;
  max-width: 477px;
  margin: auto;
}

.login-pf body {
  background: #ffffff;
}

@media (max-width: 768px) {
  .login-pf {
    margin: 0px 10px 0px 10px;
  }
}

.login-pf #kc-header {
  margin-top: 70px;
  margin-bottom: 25px;
}

.login-pf a.logo-link,
.login-pf a.logo-link:hover,
.login-pf a.logo-link:visited,
.login-pf a.logo-link:active {
  text-decoration: none;
  underline: none;
  color: #000;
}

.login-pf a.logo-link svg {
  height: 50px;
}

.login-pf .pf-v5-c-login__main-header {
  display: block; /* undo display: grid */
}

.login-pf .login-pf-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

#kc-attempted-username {
  color: #d5dae1;
  leading-trim: both;
  text-edge: cap;

  /* Heading */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.1px;
}

.login-pf #kc-page-title {
  color: var(--Brand-Blue);
  leading-trim: both;
  text-edge: cap;

  /* Heading */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.1px;
}

.login-pf #title-subtitle {
  color: var(--Brand-Blue);
  leading-trim: both;
  text-edge: cap;

  /* Subheading */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.1px;
}

.login-pf #kc-login {
  margin-top: 20px;
}

.login-pf-page .login-pf-signup a {
  margin-left: 0px;
}

.form-group {
  margin-bottom: 0;
}

#forgot-password-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

#kc-page-title {
  font-size: 38px;
  font-weight: 700;
}

.pf-v5-c-form__label-text {
  font-weight: normal !important;
  font-size: 16px;
}

#kc-header {
  display: flex;
  align-items: center;
}

#kc-header-wrapper {
  align-self: baseline;
  margin: auto;
}

.col-md-10 {
  width: 100%;
}

.login-pf-page .login-pf-signup {
  gap: 5px;
  margin: 20px 0 0;
}

.login-pf-page .login-pf-signup span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5f6368;
}

/* footer styles START */
.footer {
  display: inline-flex;
  padding: 96px 10px 50px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }
}

.footer #footer-links {
  display: flex;
  gap: 10px;
}

.footer span {
  color: #000;
  leading-trim: both;
  text-edge: cap;

  /* Default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.1px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer styles END */

#input-error {
  color: var(--Brand-Red);
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.1px;
  padding: 20px 0 20px 0;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d5dae1;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.g-recaptcha {
  width: 100%;
}

#password-input-group {
  position: relative;
}

.toggle-password-button {
  position: absolute;
  right: 1px;
}
