:where(:root) {
  /* MIT brand colors */
  --Brand-MIT-Red: #750014;

  --Brand-Black: #000000;
  --Brand-White: #FFFFFF;

  --Brand-Blue: #03152D;
  --Brand-Bright-Red: #FF1423;
  --Brand-Dark-Gray-2: #212326;
  --Brand-Dark-Gray-1: #40464C;
  --Brand-Dark-Silver-Gray: #626A73;
  --Brand-Silver-Gray: #8B959E;
  --Brand-Light-Silver-Gray: #B8C2CC;
  --Brand-Light-Gray-2: #DDE1E6;
  --Brand-Light-Gray-1: #F3F4F8;
  --Brand-Dark-Pink: #750062;
  --Brand-Pink: #FF14F0;
  --Brand-Light-Pink: #FFB3FF;
  --Brand-Dark-Purple: #3E006B;
  --Brand-Purple: #93F;
  --Brand-Light-Purple: #BFB3FF;
  --Brand-Dark-Blue: #002896;
  --Brand-Blue: #1966FF;
  --Brand-Light-Blue: #99EBFF;
  --Brand-Dark-Green: #004D1A;
  --Brand-Green: #00AD00;
  --Brand-Light-Green: #AF3;
  --Brand-Dark-Red: #83192A;
  --Brand-Red: #A31F34;
  --Brand-Light-Red: #D02E44;
  --Brand-Orange: #FAB005;
  --Brand-Yellow: #FFEB00;


 /* global overrides */
  --pf-v5-global--link--Color: var(--Brand-Red);
  --pf-v5-global--link--Color--hover: var(--Brand-Red);

  --pf-v5-global--danger-color--100: var(--Brand-Light-Red);

  --pf-v5-global--FontFamily--text: "neue-haas-grotesk-text", sans-serif;
  --pf-v5-global--FontFamily--heading: "neue-haas-grotesk-text", sans-serif;
  --pf-v5-global--FontFamily--text--vf: "neue-haas-grotesk-text", sans-serif;
  --pf-v5-global--FontFamily--heading--vf: "neue-haas-grotesk-text", sans-serif;

  --pf-v5-global--LineHeight--md: 16px;
}

.pf-v5-c-alert {
  border-radius: 4px;
  border: 2px solid var(--Brand-Dark-Gray-2);

  --pf-v5-c-alert--m-inline--m-danger--BackgroundColor: var(--Brand-White);
}

.pf-v5-c-alert.pf-m-danger {
  border-color: var(--Brand-Light-Red);
  --pf-v5-c-alert__icon--Color: var(--Brand-Light-Red);
  --pf-v5-c-alert__title--Color: var(--Brand-Dark-Gray-2);
}

.pf-v5-c-login {
  --pf-v5-c-login__container--MaxWidth: 600px;

  --pf-v5-c-login__main-header--PaddingRight: 32px;
  --pf-v5-c-login__main-header--PaddingLeft: 32px;
  --pf-v5-c-login__main-header--PaddingTop: 80px;
  --pf-v5-c-login__main-header--PaddingBottom: 0;

  --pf-v5-c-login__main-body--PaddingBottom: 0;

  --pf-v5-c-login__main-body--PaddingRight: 32px;
  --pf-v5-c-login__main-body--PaddingLeft: 32px;
}

@media (max-width: 500px) {
  .pf-v5-c-login .pf-v5-c-login__main-header {
    padding-top: 10px;
  }
}

.pg.v5-c-title {
  --pf-v5-c-title--m-3xl--FontSize: 24px;
  --pf-v5-c-title--m-3xl--FontWeight: 700;
  --pf-v5-c-title--m-3xl--LineHeight: 30px;
}

.pf-v5-c-form {
  --pf-v5-c-form--GridGap: 24px;
}

.pf-v5-c-login__main-footer {
  padding-inline-end: var(--pf-v5-c-login__main-body--PaddingRight);
  padding-inline-start: var(--pf-v5-c-login__main-body--PaddingLeft);
}

.pf-v5-c-form-control {
  margin-top: 4px;
  border-radius: 4px;
  border: 0;
  background: var(--Brand-White);
  color: var(--Brand-Dark-Gray-2);
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--Brand-Light-Silver-Gray);
  -moz-box-shadow: inset 0px 0px 0px 2px var(--Brand-Light-Silver-Gray);
  box-shadow: inset 0px 0px 0px 2px var(--Brand-Light-Silver-Gray);
}

.pf-v5-c-form-control:focus, .pf-v5-c-form-control:hover, .pf-v5-c-form-control:active {
  border-width: 2px;
  padding: 0;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--Brand-Dark-Gray-2);
  -moz-box-shadow: inset 0px 0px 0px 2px var(--Brand-Dark-Gray-2);
  box-shadow: inset 0px 0px 0px 2px var(--Brand-Dark-Gray-2);
}

.pf-v5-c-form-control::after {
  border-block-end: none;
}

.pf-v5-c-button {
  --pf-v5-c-button--FontWeight: 500;
  --pf-v5-c-button--FontSize: 16px;

  --pf-v5-c-button--PaddingTop: 16px;
  --pf-v5-c-button--PaddingBottom: 16px;

  --pf-v5-c-button--m-primary--Color: var(--Brand-White);
  --pf-v5-c-button--m-primary--BackgroundColor: var(--Brand-MIT-Red);
  --pf-v5-c-button--m-primary--hover--BackgroundColor: var(--Brand-Red);
  --pf-v5-c-button--m-primary--active--BackgroundColor: var(--Brand-Red);
  --pf-v5-c-button--m-primary--focus--BackgroundColor: var(--Brand-Red);

  --pf-v5-c-button--m-secondary--Color: var(--Brand-Black);
  --pf-v5-c-button--m-secondary--after--BorderColor: var(--Brand-Light-Silver-Gray);

  --pf-v5-c-button--m-secondary--focus--Color: var(--Brand-Black);
  --pf-v5-c-button--m-secondary--focus--after--BorderColor: var(--Brand-Dark-Silver-Gray);

  --pf-v5-c-button--m-secondary--hover--Color: var(--Brand-Black);
  --pf-v5-c-button--m-secondary--hover--after--BorderColor: var(--Brand-Dark-Silver-Gray);
}

.pf-v5-c-button:hover {
  cursor: pointer;
}

a.pf-v5-c-button,
a.pf-v5-c-button:hover,
a.pf-v5-c-button:active,
a.pf-v5-c-button:focus,
a.pf-v5-c-button:visited {
  text-decoration: none;
  text-decoration-line: none;
}


.pf-v5-c-title.pf-m-3xl {
  color: var(--Brand-Dark-Gray-2);
  font-size: 24px;
}

.login-pf {
  background: var(--Brand-White);
}

.login-pf body {
  background: var(--Brand-White);
  color: var(--Brand-Dark-Gray-1);
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 16px 16px;
  gap: 24px;
}

.login-pf #kc-header {
  margin-top: 70px;
  margin-bottom: 25px;
}

.login-pf a.logo-link,
.login-pf a.logo-link:hover,
.login-pf a.logo-link:visited,
.login-pf a.logo-link:active {
  text-decoration: none;
  underline: none;
  color: #000;
}

.login-pf a.logo-link svg {
  height: 50px;
}

.login-pf .pf-v5-c-login__main-header {
  display: block; /* undo display: grid */
}

.login-pf .login-pf-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

#kc-attempted-username {
  color: #d5dae1;
  leading-trim: both;
  text-edge: cap;

  /* Heading */
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.1px;
}

.login-pf #kc-page-title {
  color: var(--Brand-Blue);
  leading-trim: both;
  text-edge: cap;

  /* Heading */
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.1px;
}

.login-pf #title-subtitle {
  color: var(--Brand-Blue);
  leading-trim: both;
  text-edge: cap;

  /* Subheading */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.1px;
}

.login-pf-page .login-pf-signup a {
  margin-left: 0px;
}

.form-group {
  margin-bottom: 0;
}

#forgot-password-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

#kc-page-title {
  font-size: 38px;
  font-weight: 700;
}

.pf-v5-c-form__label-text {
  font-weight: normal !important;
  font-size: 16px;
  color: var(--Brand-Dark-Gray-2);
}

#kc-header {
  display: flex;
  align-items: center;
}

#kc-header-wrapper {
  align-self: baseline;
  margin: auto;
}

#kc-form-buttons {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-block-start: 0 !important;
}

#kc-registration {
  font-size: 14px;
}

#social-touchstone-idp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 13px;
  font-weight: 500;
}

.col-md-10 {
  width: 100%;
}

.login-pf-page .login-pf-signup {
  gap: 5px;
  margin: 20px 0 0;
}

.login-pf-page .login-pf-signup span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5f6368;
}

.footer {
  display: flex;
  justify-content: center;
  color: var(--Brand-Dark-Silver-Gray);
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-direction: column;
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }
}

.footer #footer-links {
  display: flex;
  gap: 10px;
}

#input-error {
  color: var(--Brand-Red);
  leading-trim: both;
  text-edge: cap;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.1px;
  padding: 20px 0 20px 0;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(Brand-Dark-Gray-2);
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--Brand-Light-Silver-Gray);
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}


.password-toggle-field {
  position: relative;
}

.password-toggle-field .toggle-password-button {
  position: absolute;
  right: 1px;
}

.toggle-password-button .pf-v5-c-button {
  padding: 12px;
}

.instruction {
  color: var(--Brand-Dark-Gray-1);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

#kc-form-legal-options {
  color: var(--Brand-Dark-Silver-Gray);
}

#kc-form-options {
  font-size: 14px;
  color: var(--Brand-Dark-Silver-Gray);
}

.sign-up-suggest {
  color: var(--Brand-Dark-Silver-Gray);
}

/*
* upscale the recaptcha to match the form width
* note that we also dynamically resize this in JS to get more accurate and to support mobile widths
* */
.g-recaptcha {
  transform-origin: 0 0;
  transform: scale(1.24);
}

.g-recaptcha iframe {
  /* tighter border-radius to crop out the black background at the corners */
  border-radius: 5px;
  /* downsize the iframe to crop out black background on bottom and right of recaptcha */
  width: 302px;
  height: 76px;
}
/* undo some patternfly styles that are clobbering the layout */
@media (min-width: 1200px) {
  .pf-v5-c-login__container {
    display: block;
    padding-inline-end: 0;
    padding-inline-start: 0;
  }
}
