ol-keycloak/ol-spi/target/*
ol-keycloak/oltheme/target/*
.DS_Store
plugins/
node_modules/


# java
.classpath
.factorypath
.project
.settings/

# ol-keycloakify build outputs (also covered by ol-keycloakify/.gitignore)
ol-keycloakify/dist/
ol-keycloakify/dist_keycloak/
ol-keycloakify/storybook-static/
ol-keycloakify/node_modules/
