name: Test Email Templates
on:
  push:

jobs:
  test-templates-compiled:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24
      - name: Compile emails
        run: ./scripts/compile-emails.sh
      - name: Verify no uncompiled changes
        run: git diff --quiet && git diff --cached --quiet
